*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: helvetica;
}

body{
  width: 100vw;
  max-width: 100%;
}

.general_padding{
  padding: 0 15%;
}

/* Inizio header */
.fixed_bar{
  position: fixed;
  width: 100%;
  height: 70px;
  z-index: 1;
  background-color: #f5f8fa;
  border-bottom: 1px solid #33475b;
}

header > div > i{
    padding: 25px 10px 25px 0;
    color: #33475b;
}

.selector{
  background-color: transparent;
  border: none;
  color: #33475b;
  font-size: 15px;
}

header > div > span{
  padding: 0px 10px;
  border-left: 2px solid #cbd6e2;
  color: #33475b;
}

.header_box{
  float: right;
  padding: 25px 0;
  transform: translate(0, -10px);
}

.header_box > i{
  color: #00a4bd;
  margin-right: 20px;
}

.header_box > button{
  background-color: white;
  color: #ff7a59;
  padding: 10px;
  margin: 0 5px;
  border: 1px solid #ff7a59;
  border-radius: 5%;
}

#orange{
  background-color: #ff7a59;
  color: white;
}

/* inizio nav bar */
nav{
  width: 100%;
  height: 70px;
  background-color: white;
  position: relative;
  transform: translate(0, 70px);
}

nav > img{
  width: 100px;
  height: 30px;
  margin-top: 20px;
  float: left;
}

nav > ul{
  position: absolute;
  right: 225px;
}

nav > ul > li{
  float: left; /* altrimenti le opzioni vanno da about -> software*/
  display: inline-block;
  padding: 28px 10px;
}
/* fine nav bar */

/* Fine header */


/* Inizio primo contenuto */

.first_content{
  width: 100%;
  background-image: linear-gradient(to top right, #425b76, #0091b0, #00a4bd, #7fd1de);
  height: 650px;
  float: left;
  margin-top: 18.4px;
  border-bottom: 2.5px solid #33475b;
}

.first_content > div > h1{
  float: left;
  color: white;
  padding-top: 100px;
  font-size: 50px;
  padding-right: 600px;
}

.first_content > div >p{
  padding-top: 25px;
  float: left;
  padding-right: 650px;
  color: white;
  line-height: 25px;
}

.first_content > div > button{
  background-color: white;
  border: none;
  border-radius: 4%;
  margin: 30px 0;
  color: #33475b;
  font-weight: bold;
  font-size: 15px;
  height: 80px;
  width: 220px;
  text-align: center;
  float: left;
}

.first_content > div > button:hover{
  background-color: rgba(222, 252, 250, .7);
}

.smaller{
  color: rgba(255, 255, 255, .6);
  padding-right: 900px;
  font-size: 12px;
  float: left;
}
/* Fine primo contenuto */

/* Inizio secondo contenuto */
